.hamburger-grid {
    display: grid;
    grid-template-rows: 8px 8px 8px;
    grid-template-columns: 8px 8px 8px;
    grid-gap: 4px;
    transition: all .5s ease;
    &:hover {
        -webkit-transform: rotate(30deg);
        transform: rotate(90deg);
        opacity: .65;
    }
}

.box {
  background-color: #dfdfdf;
}